            img{
                float: left;
                margin-right: 20px;
            }
            .title{
                color: #FF9933;
                text-shadow: 2px 2px #000;
                font-style: italic;
                font-size: 300%;
            }
           body{
                font-family: sans-serif;
                width: 800px;
                margin: 0 auto;              
                background-color: #ffffff;
                box-shadow: 10px 10px 5px #000000;             
            }
            
            html{
                background-image: url("../images/bats.gif");
            }
            .firstheading::first-letter{
                font-size: 200%;
                font-weight: bold;
                font-family: sans-serif;    
            }
            a{
                color: #FF6600;
            }
            a:hover{
                color: #33CC33;
            }
            ul li{
                margin: 15px;
            }
            .subtitle{
                text-indent: 125px;
            }
            .footer{
                font-size: 60%;
                text-align: center;
                background-color: orange;
            }
          